$c-primary: #46c58f; 
$c-primary-alt: #16A085;
$c-secondary: #2f495e; 
$c-secondary-alt: #335877;
$c-accent: #ffa500;
$c-accent-alt: #e07800;
$c-positive: #17bf63;
$c-negative: #fa2c11;
$c-dark: #2f495e;
$c-dark-alt: #335877;
$c-default: #e7e7e7;
$c-light: #ffffff;